<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/feeds.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div id="navbar">
            <div id="logo">
                <h2>Survencee</h2>
            </div>
           <button id="post"> <i class="fa-solid fa-blog" style="color: #B197FC;"></i></button>
        </div>
        </header>
        <main>
            <div id="lside"></div>
            <div id="rside"></div>
        </main>


</body>
</html>