<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <header>
<div class="navbar">
    <div id="logo">
        <h2 id="heading">Survencee</h2>
    </div>
</div>
    </header>
    <main>
        <div id="login">
            <div id="quote"></div>
            <div id="loginpage">
                <h2 id="signup">Signup</h2>
                <div id="choice">
                    <button id="surv">Surveyor</button>
                    <button id="rep">Reporter</button>
                </div>
            </div>
        </div>
    </main>

</body>
</html>