<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
<div class="navbar">
    <div id="logo">
        <h2 id="heading">Survencee</h2>
    </div>
</div>
    </header>
    <main>
        <div id="login">
            <div id="quote">
                <h2 id="loggg">Login As</h2>
                <a th:href="@{/surv/login}"><i class="fa-solid fa-s fa-2xl"></i></a>
                <a th:href="@{/report/login}"><i class="fa-solid fa-r fa-2xl"></i></a>
            </div>
            <div id="loginpage">
                <h2 id="signup">Signup</h2>
                <div id="choice">
                    <button  onclick="location.href='?formType=surveyor'" id="surv">Surveyor</button>
                    <button onclick="location.href='?formType=reporter'" id="rep">Reporter</button>
                </div>
                <div id="sign">
                <form th:if="${Surveyor != null}"  role="form" method="post" th:action="@{/registersurv}" th:object="${Surveyor}" id="form">
                        <label for="usernamee" >username</label>
                        <input type="text"  th:field="*{username}" id="usernamee">
                        <label for="namee"  >name</label>
                        <input type="text" th:field="*{name}" id="namee">
                        <label for="emaill"  >Email</label>
                        <input type="email" th:field="*{email}" id="emaill">
                        <label for="pass"  >Password</label>
                        <input type="password" th:field="*{password}" id="pass">
                        <button  type="Submit" id="Submit"> Submit </button>
                </form>
                <form th:if="${Reporter != null}" method="post" th:action="@{/registerrep}" th:object="${Reporter}">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{repoUsername}" id="username">

                    <label for="name">Name</label>
                    <input type="text" th:field="*{reporter_name}" id="name">

                    <label for="channel">Channel</label>
                    <input type="text" th:field="*{channel_name}" id="channel">

                    <label for="email">Email</label>
                    <input type="email" th:field="*{email}" id="email">

                    <label for="passe">Password</label>
                    <input type="password" th:field="*{password}" id="passe">

                    <button type="submit" id="Submit">Submit</button>
                </form>

                </div>
                
            </div>
        </div>
    </main>
    <script th:src = "@{/js/signup.js}"></script>

</body>
</html>